DJANGO_SECRET_KEY=replace-me
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=lexicon
POSTGRES_USER=lexicon
POSTGRES_PASSWORD=lexicon
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

